openapi: 3.2.0
info:
  title: GLS T&T Api - Production Pod API
  description: GLS Track & Trace API Production environment
  version: V1
servers:
- url: https://api.gls.nl/tt/V1
tags:
- name: Pod
paths:
  /api/pod/v1:
    post:
      tags:
      - Pod
      summary: /api/pod/v1 - POST
      operationId: post-api-pod-v1
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GetPodsRequestDto'
            example:
              userName: string
              password: string
              parcelNumbers:
              - string
          text/json:
            schema:
              $ref: '#/components/schemas/GetPodsRequestDto'
            example:
              userName: string
              password: string
              parcelNumbers:
              - string
          application/*+json:
            schema:
              $ref: '#/components/schemas/GetPodsRequestDto'
            example:
              userName: string
              password: string
              parcelNumbers:
              - string
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/PodsResponseDto'
              examples:
                default:
                  value: null
            application/json:
              schema:
                $ref: '#/components/schemas/PodsResponseDto'
              example:
                pods:
                - parcelNumber: string
                  podBlob: string
            text/json:
              schema:
                $ref: '#/components/schemas/PodsResponseDto'
              example:
                pods:
                - parcelNumber: string
                  podBlob: string
        '204':
          description: No Content
        '401':
          description: Unauthorized
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
              examples:
                default:
                  value: null
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
              example:
                type: string
                title: string
                status: 0
                detail: string
                instance: string
            text/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
              example:
                type: string
                title: string
                status: 0
                detail: string
                instance: string
components:
  schemas:
    PodsResponseDto:
      required:
      - pods
      type: object
      properties:
        pods:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Pod'
      additionalProperties: false
    Pod:
      required:
      - parcelNumber
      type: object
      properties:
        parcelNumber:
          type:
          - string
          - 'null'
        podBlob:
          type:
          - string
          - 'null'
          format: byte
      additionalProperties: false
    ProblemDetails:
      type: object
      properties:
        type:
          type:
          - string
          - 'null'
        title:
          type:
          - string
          - 'null'
        status:
          type:
          - integer
          - 'null'
          format: int32
        detail:
          type:
          - string
          - 'null'
        instance:
          type:
          - string
          - 'null'
      additionalProperties: {}
    GetPodsRequestDto:
      required:
      - parcelNumbers
      - password
      - userName
      type: object
      properties:
        userName:
          minLength: 1
          type: string
        password:
          minLength: 1
          type: string
        parcelNumbers:
          type: array
          items:
            type: string
      additionalProperties: false
